# ===== 模型权重 =====
*.onnx
*.pt
*.pth

# ===== 视频文件 =====
*.mp4
*.flv

# ===== 数据目录 =====
data/

# ===== 输出目录 =====
person_reid/GUI/outputs/

# ===== 数据库 =====
*.db

# ===== Python 缓存 =====
__pycache__/
*.pyc